body {
    flex-grow: 1;
}
nav {
    background-color:gainsboro!important;
}
.navbar-img {
    width: 150px; 
    height: 50px;
}
.custom-image {
    width: 100% !important;
    height: 200px !important;
    object-fit: cover !important;
}
.carrousel {
    height: 100%!important;
    width: 100%!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    text-align: center!important;
    position: relative !important;
}


.carousel-item{
    height: 400px!important;
    object-fit: cover!important;
}
.titulo {
    text-align: center!important;
    position: absolute;
    color: white!important;
    background-color: rgba(0, 0, 0, 0.5)!important;
    width: 100vw;
    top: 45%;
}

main {
    
}
.formularios {
    display: flex!important;
}
.fieldset1 {
    margin: 10px!important;
    display: flex!important;
    justify-content: space-evenly!important;
}
.card-img-top {
    min-height: 250px;
    object-fit: cover;
}
footer {
    background-color: gainsboro!important;
    padding: 2px;
    border-top: solid maroon 2px;
}
