nav {
    background-color:gainsboro!important;
}
.carrousel {
    height: 100%!important;
    width: 100%!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    text-align: center!important;
}
.carousel-item{
    height: 500px!important;
    object-fit: cover!important;
}
.titulo {
    text-align: center!important;
    position: absolute;
    color: white!important;
    background-color: rgba(0, 0, 0, 0.5)!important;
    width: 100vw;
}
.formularios {
    display: flex!important;
}
.fieldset1 {
    margin: 10px!important;
    display: flex!important;
    justify-content: space-evenly!important;
}
footer {
    background-color: gainsboro!important;
    padding: 10px!important;
}