nav {
    background-color:gainsboro!important;
}
.carrousel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.titulo {
    text-align: center;
    font-weight: 700;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}
.formularios {
    display: flex;
}
.fieldset1 {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}
footer {
    background-color: gainsboro;
    padding: 10px;
}